<div ng-app="userApp">
  <div class="row">
    <div class="col-xs-4">
      <label for="search">Search:</label>
      <input type="text" class="form-control" placeholder="Search" ng-model="searchfield" />
      <button class="btn btn-default btn-sm" ng-click="getResultsPage(newPageNumber);">
        <i class="fa fa-search" aria-hidden="true"></i> Advanced Search</button>
    </div>
  </div>
  <br>
  <div pagin-layout="user in users | filter:q | itemsPerPage: itemsPerPage" total-items="totalcount" current-page="currentPage" card-layout data="user" tmpl='thisFunction(user)'>
  </div>
  <br>
  <div class="container">
    <pagin-controls boundary-links="true" on-page-change="pageChanged(newPageNumber)"></pagin-controls>
  </div>
</div>