<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 space">
	<div class="row emp">
		<div class="col-sm-4 col-md-4">
			<img src="{{user.avatar}}" alt="" class="img-rounded img-responsive" />
		</div>
		<div class="col-sm-8 col-md-8">
			<h4>{{user.name.first}} {{user.name.last}}</h4>
			<small><cite>{{user.jobTitle}} {{user.organization}}</cite></small>
			<p>
				<i class="glyphicon glyphicon-envelope"></i>{{user.email}}
				<br />
				<i class="glyphicon glyphicon-earphone"></i>{{user.contactNo.contactNumber}}
			</div>
		</div>
	</div>