<div class="col-sm-6 col-md-3 col-lg-3 col-xs-12">
 <div class="tileblock ttilebrief">


  <p class="title-job pmargin">{{obj.taskDefinition.taskTitle}}</p>

  <div class="text-small">
    <span class="pull-right text-xsmall">Posted On:&nbsp;{{obj.postedOn | date}}</span>
  </div><br>
  <div class="text-desc maxlines">{{obj.taskDefinition.taskDesc}}</div>
  <hr class="hrstyle"/>
  <div class="text-desc pull-right"><i class="glyphicon glyphicon-comment" aria-hidden="true" ng-click="saveTgroup(groupDescription,groupId)"></i></div>
  <div class="text-desc pull-right"><i class="glyphicon glyphicon-duplicate" aria-hidden="true"></i></div>
  <div class="text-desc pull-right"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></div>
  <div class="text-desc pull-right"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></div>
  <div class="text-desc pull-right"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></div>

</div>
</div>
